<div class="grid-container">
 
    <div class="grid-item"><a routerLink="/free"><img class="grid-img" tabIndex="1" nav-selectable alt="" src="../../../../assets/icons/AvvattaFreeIconRound.png">    
      AvvattaFree</a> </div>   

    <div class="grid-item"><a routerLink="/games"><img class="grid-img" tabIndex="2" nav-selectable  alt="" src="../../../../assets/icons/AvvattaGameIconRound.png">
      AvvattaGames</a></div>

    <div class="grid-item"><a routerLink="/kids"><img class="grid-img" tabIndex="3" nav-selectable  alt="" src="../../../../assets/icons/AvvattaKidsIconRound.png">
      AvvattaKids</a></div>

    <div class="grid-item"><a routerLink="/learn"><img class="grid-img" tabIndex="4" nav-selectable  alt="" src="../../../../assets/icons/AvvattaLearnIconRound.png">
      AvvattaLearn</a></div>

    <div class="grid-item"><a routerLink="/video"><img class="grid-img" tabIndex="5" nav-selectable  alt="" src="../../../../assets/icons/AvvattaVideoIconRound.png">
      AvvattaVideo</a></div>

    <div class="grid-item"><a routerLink="/eros"><img class="grid-img" tabIndex="6" nav-selectable  alt="" src="../../../../assets/icons/ErosNowIconRound.png">
      ErosssNow</a></div>

</div>