<mat-tab-group>
	<mat-tab label="Mentalup">Mentalup Content</mat-tab>
	<mat-tab label="Kidloland">
		<P>COLOR SONGS</P>
		<div>
			<mat-grid-list cols="2"  rowHeight="90px" gutterSize="5px">
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/1-Black.png" class="  ng-lazyloaded"></mat-grid-tile>
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/2-Blue.png" class="  ng-lazyloaded"></mat-grid-tile>
			</mat-grid-list>
		</div>
		<!-- <P>DINO SONGS</P>
		<div>
			<mat-grid-list cols="3" [style.background]="'skyblue'">
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/1-Black.png" class="  ng-lazyloaded"></mat-grid-tile>
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/2-Blue.png" class="  ng-lazyloaded"></mat-grid-tile>
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/3-Brown.png" class="  ng-lazyloaded"></mat-grid-tile>
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/4-Green.png" class="  ng-lazyloaded"> </mat-grid-tile>
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/5-Orange.png" class="  ng-lazyloaded"></mat-grid-tile>
				<mat-grid-tile><img defaultimage="../../../assets/Images/vdodummy.jpeg" width="100%" ng-reflect-default-image="../../../assets/Images/vdodumm" ng-reflect-lazy-image="https://www.avvatta.com:8100/v" src="https://www.avvatta.com:8100/video_content/kidoland/Color Songs/6-Pink.png" class="  ng-lazyloaded"></mat-grid-tile>
			</mat-grid-list>
		</div> -->
	</mat-tab>
	<mat-tab label="Smile and Learn">Smile and Learn Content</mat-tab>
	<mat-tab label="Akil and Me">Akil and Me Content</mat-tab>
</mat-tab-group>
